@import 'tailwindcss';
/* @import 'tw-animate-css'; */

@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

:root {
  --background: hsl(0 0% 100%);
}

@theme inline {
  --color-background: var(--background);

  --font-sans:
    var(--font-primary), ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

@layer utilities {
  .c-break-words {
    overflow-wrap: break-word;
    word-break: break-word;
  }
}
